<%= link_to 'Back', categories_path %>

<h1>Ask a new question</h1>

<p>
  Thanks for asking a new question, it will be really valuable for all Dalia's people!<br>
  Please select the right category below:
</p>

<%= render 'form', question: @question %>
