<h1>Welcome to Dalia POP!</h1>

<p>Dalia POP! is a Q&A platform for Dalia's people.</p>

<p>Questions are anonymous. You get rewards for asking, answering, and commenting questions!</p>


<% if user_signed_in? %>
  <%= link_to "Ask a new question", new_question_path, class: "btn btn-primary" %> or
  <%= link_to "Browse the categories", categories_path, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-warning btn-lg" %> or
  <%= link_to "Register", new_user_registration_path, class: "btn btn-warning btn-lg" %>
<% end %>
