.category {
  min-height: rem(125px);
  margin-bottom: rem(27px);
  background: #f1f3f9;
  &:hover {
    background: #E5E8F2;
  }
}

.question-list {
  &__question {
    display: block;
    padding: 1.25rem;
    color: inherit !important;
    text-decoration: none !important;
    background: #f1f3f9;
    margin-bottom: rem(20px);
    &:hover {
      background: #E5E8F2;
    }
    & a {
      text-decoration: none !important;
    }
    &__date {
      font-size: em(12px);
    }
    & > h5 {
      font-size: em(16px);
      margin-bottom: 0;
    }
  }
}
