<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="row">
<% @categories.each do |category| %>
  <div class="col-sm-4">
    <div class="card category">
      <div class="card-body">
        <h5><%= link_to category.name, category_path(category.id) %></h5>
        <p class="small"><%= pluralize(category.questions.size, "question") %></p>
      </div>
    </div>
  </div>
<% end %>
</div>

<br>

<%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>
